@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient-primary: linear-gradient(135deg, #854ce6 0%, #d946ef 100%);
  }
  
  .gradient-text {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }